@model BasicDotnet.WebMvc.Models.Auth.LoginViewModel

@{
    ViewData["Title"] = "Login";
}
@if (ViewData["Error"] != null)
{
    <div class="alert alert-danger">@ViewData["Error"]</div>
}

<h2>Login</h2>

<p>API URL: @Model.LoginApiEndpoint</p>

<form id="loginForm" method="post" asp-action="Login">
    <input type="hidden" asp-for="LoginApiEndpoint" value="@Model.LoginApiEndpoint" />
    <div class="form-group">
        <label asp-for="LoginDto.Username"></label>
        <input asp-for="LoginDto.Username" class="form-control" id="LoginDto_UserName" value="@Model.LoginDto.Username" />
        <span asp-validation-for="LoginDto.Username" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LoginDto.Password"></label>
        <input asp-for="LoginDto.Password" type="password" class="form-control" id="LoginDto_Password" />
        <span asp-validation-for="LoginDto.Password" class="text-danger"></span>
    </div>

    <button type="submit" id="loginButton" class="btn btn-primary mt-3">Login</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
